@media screen and (min-width: 600px) {
    body {
        max-width: 1040px;
        margin: 0 auto;
    }

    header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
    }

    header div {
        border-bottom: none;
    }

    .humburger {
        display: none;
    }

    .navigation {
        display: flex;
        background-color: var(--color-bg-2);
        padding-bottom: 10px;
    }

    .navigation a {
         color:  var( --color-bg-1);
          border-bottom: none;
        padding-bottom: 0;
    }

    .navigation li.current {
        background-color: var(--color-bg-2);
    } 

    .navigation li:hover {
        background-color: transparent;
        border-bottom: 1px solid var(--secondary-color);
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 30px;
        gap: 20px;
        align-items: stretch;
    }

    .card {
        margin: 0;
        height: auto;
    }

    .cards ol {

    }


}