:root {
    --color-bg-1: #1c1a19;
    --color-bg-2: #fff;
    --primary-color: #ff6b00;
    --secondary-color: #3c3a39;
    --font: 'Poppins', 'san serif';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #ddd;
    column-gap: 8px;
    background-color: var(--color-bg-2);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    color: var(--color-bg-1);
}

header span {
    font-size: 1.2rem;
    color: var(--color-bg-1);
}

.humburger {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-bg-1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.humburger::before {
    content: "\2630";
    font-size: 1.6rem;
}

.humburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation {
    background-color: var(--color-bg-1);
    margin: 0 10px;
}

.navigation li {
    list-style: none;
    padding: 0 10px;

}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--color-bg-2);
    font-size: 1.2rem;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.8rem 0;

}

.navigation li.current {
    background-color: #3c3a39;
}

.navigation li:hover {
    background-color: #ff6b00;
}

main {
    background-color: var(--color-bg-2);
    padding: 5px 10px 5px;
}

h1 {
    font-family: var(--font);
    font-size: 2rem;
    color: var(--color-bg-1);
}

section {
    margin: 1rem 0;
}

.first-section {
    background-color: #eee;

}

h2 {
    font-family: var(--font);
    background-color: var(--color-bg-1);
    color: var(--color-bg-2);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 5px 0;
}

.first-section p {
    font-family: var(--font);
    font-size: 1rem;
    padding: 8px;
}

.second-section {
    background-color: #eee;
}

.second-section div {
    margin: 20px auto;
    width: 300px;
    padding-bottom: 20px;
}

.second-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;  
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer li {
    list-style: none;
}

footer img {
    width: 48px;
}

footer p {
    text-align: center;
    font-size: 1rem;
}

footer div {
    background-color: #eee;
    padding: 15px 0;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button{
    width: 100%; 
    text-align: center;
    padding: 5px;
    background-color: var(--primary-color);
    margin: 10px;
    color: var(--color-bg-2);
    border-radius: 5px;
}

.buttons .selectedCourse {
    background-color: var(--color-bg-2);
    color: var(--color-bg-1)

}

.courses span{
    display: block; 
    background-color: #eee;
    border: 2px solid #ddd; 
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 5px; 

}

.courses span.taken{
  background-color: #3DD63D;  
}
