* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --big-text: #172b4d;
    --small-text: #344563;
    --btn-color: #396df2;
    --bg: #fff;
    --bg2: #6070ff;
    --font: 'Poppins', sans-serif;
}

body {
    font-family: var(--font);
}

main {
    padding: 0 2%;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--bg);
}

h1 {
    grid-area: 1/2/2/3;
   font-size: 1.5rem;
    text-align: center;
    color: var(--big-text);
    margin-top: 30px;
}

header img {
    grid-area: 1/1/3/2;
    width: 88px;
    height: auto;
    justify-self: center;
    padding-top: 20px;
}

#nav-bar {
    background-color: var(--bg);
    grid-area: 2/1/3/3;
    position: absolute;
    top: 100px;
    left: 0px;
    width: 150px;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 1s ease, opacity 1s ease;
    pointer-events: none;
    border-radius: 5px;
}

#nav-bar.show {
    display: block;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#nav-bar ul {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg2);
    flex-direction: column;
}

#nav-bar ul li {
    list-style: none;
    align-content: center;
    height: 44px;
}

#nav-bar ul li a {
    text-decoration: none;
    display: flex;
    text-align: center;
    padding: 10px;
    background-color: var(--bg2);
    color: var(--bg);
}

#nav-bar ul li a:visited {
    color: var(--bg);
}

#nav-bar ul li a:hover {
    background-color: var(--big-text);
    color: var(--bg);
    font-size: 1.3rem;
}

.hamburger {
    grid-area: 2/1/3/3;
    background: transparent;
    border: none;
    color: var(--big-text);
    cursor: pointer;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
}

.hamburger::before {
    content: '\2630';
    font-size: 2rem;
}

.hamburger.show::before {
    content: '\00D7';
    font-size: 3rem;
}

#nav-bar li.current,
#nav-bar li.current a,
#nav-bar li.current a span {
    background-color: var(--small-text);
    color: var(--bg);
}

.hero {
    width: 100%;
}

.hero img,
.report_img img {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px auto;
    background-color: var(--bg);
}

h2,
h3,
h4,
h5 {
    background-color: var(--bg2);
    color: var(--bg);
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}

p {
    margin: 20px;
}

.crimeType,
.date {
    display: none;
}

table,
th {
    border: 2px solid black;
}

td {
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
    font-size: .85rem;
    padding: var(--standard);
}

.recentCrimes{
    justify-items: center
}

.index.table{
    min-height: 1008px;
    padding: 20px;
    margin: 29px; 
}

select.incidents{
    margin: 10px;
    max-width: 300px;
}

.flex{
    justify-self: center;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 10px;
    background-color: var(--bg2);
    padding-left: 8%;
}

footer div h2,
footer div a,
footer div p,
footer div span {
    color: var(--bg);
    margin: 0;
    line-height: 1.2;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.address h2 {
    line-height: 1.2;
}

.address p {
    font-size: 0.75rem;
    line-height: 1.2;
}

.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.5rem;
    padding: 0.5rem 0;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: var(--bg) solid 1px;
    border-radius: 12px;
    background-color: var(--bg);
    transition: background 0.2s;
}

.social a img {
    width: 44px;
    height: 44px;
}

.social a:hover {
    background: #e1de11;
    cursor: pointer;
}

.copyright {
    font-size: 0.75rem;
    margin: 0;
}

#currentYear,
#lastModified {
    display: block;
    min-height: 1.5em;
}

dialog {
    width: 80%;
    height: auto;
    background-color: var(--small-text);
    border: 1px solid black;
    box-shadow: 0 0 10px lightgray;
    padding: 20px;
    position: fixed;
    left: 11%;
    top: 10%;

}

dialog::backdrop {
    background-color: var(--big-text);
    opacity: 90%;
}

dialog p {
    font-size: 1rem;
    color: var(--bg);
    margin: 10px;
    padding: 5px;
}

#closeModal {
    height: 120px;
    color: var(--btn-color);
    margin: 20px;
    padding: 10px;
    border: 2px solid var(--bg2);
    border-radius: 5px;
    cursor: pointer;
}
